# Python
__pycache__/
*.py[cod]
*.egg-info/
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Data (optional, uncomment if needed)
# data/*.csv

# Database
*.sql
*.db